<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать в Spring!</title>
</head>
<body>
<a href="http://mirea.ru">Посетите наш официальный вебсайт!</a>
<h3>Можно отправлять запросы по этому адресу, чтобы добавлять, удалять, изменять и смотреть записи в базе данных!</h3>
<h4>User</h4>
<p>/user/add?name="name" - добавляет в БД пользователя с именем "name"</p>
<p>/user/del?id="id" - удаляет из БД пользователя с идентификатором(не токеном!) "id"</p>
<p>/user/get?id="id" - получает JSON-строковое представление записи с идентификатором(не токеном!) "id"</p>
<p>/user/getall - получает <b>ВСЕ</b> записи БД в JSON-строковом представлении</p>
</body>
</html>