<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать в Spring!</title>
</head>
<body>
<a href="http://mirea.ru">Посетите наш официальный вебсайт!</a>
<h3>Можно отправлять запросы по этому адресу, чтобы добавлять, удалять, изменять и смотреть записи в базе данных!</h3>
<h4>User</h4>
<p>/user/add?name="name" - добавляет в БД пользователя с именем "name"</p>
<p>/user/del?id="id" - удаляет из БД пользователя с идентификатором(не токеном!) "id"</p>
<p>/user/get?id="id" - получает JSON-строковое представление записи с идентификатором(не токеном!) "id"</p>
<p>/user/getall - получает <b>ВСЕ</b> записи БД в JSON-строковом представлении</p>
<h4>Product</h4>
<p>/product/add?name="name&size="size&ev="ev"&prot="prot"&f="f"&carb="carb&price="price" - добавляет в БД продукт
    с именем "name", размером(объемом или массой) "size", энергетической ценностью "ev" в 100 г,
    белками "prot" в 100 г, жирами "f" в 100 г, углеводами "prot" в 100 г, стоимостью "price" рублей.
    ВСЕ ПАРАМЕТРЫ ДОЛЖНЫ БЫТЬ УКАЗАНЫ,
    <b>ИНАЧЕ ПРОДУКТ НЕ БУДЕТ ДОБАВЛЕН В БД!</b> Параметры энергетической ценности, белков, жиров,
    углеводов и цены могут быть дробными</p>
<p>/product/del?id="id" - удаляет из БД продукт с идентификатором "id"</p>
<p>/product/get?id="id" - получает JSON-строковое представление записи с идентификатором "id"</p>
<p>/product/getall - получает <b>ВСЕ</b> записи БД в JSON-строковом представлении</p>
</body>
</html>